img {
    display: block;
    position:absolute;
    align-self: center;
}

header {
    background-color:blanchedalmond;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    border-top: 10px solid lightsalmon;
    border-bottom: 10px solid lightsalmon;
    margin: 0%;
    border-left: 0px;
    display: inline-block;
}

header h1{
    display: inline-block;
    text-align: left;
    position: relative;
    left: 20px;
}


.links{
    float:right;
    display: inline;
}

.links ul li{
    display: inline-block;
    padding: 20px;
}

